body{
    
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: center;
    
}
.section-width{
    width: 50%;
    margin: 30px;
}
.section-width img{
    width: 60%;
    margin-left: 50px;
}
.yellow{
    color: rgb(255, 166, 0);
}
.container{
    margin: 50px 50px 50px 60px;
}
.focus-font{
    border-left: 4px solid salmon;
    
    
}
.button{
    background-color: rgb(235, 79, 62);
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 40px;
    color: aliceblue;
    
    
}
 p{
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 30px;
    line-height: 1.6;
}
h4{
    margin-top: 40px;
}
h1{
    padding-left: 10px;
    font-size: 50px;
    margin: 0;
    line-height: 54px;
}
.mission-title{
    margin-bottom: 20px;
}
.my-mission{
    height: 300px;
    border-radius: 10px;
    width: 25%;

}
.my-mission img{
    width: 35%;
}
.my-mission p{
    color: rgb(61, 58, 58);
}
.mission{
    background-color: rgb(238, 241, 241);
    margin: 10px;
    padding: 10px;
    
}
.vission{
    background-color: rgb(247, 203, 210);
    margin: 10px;
    padding: 10px;
}
.goal{
    background-color: rgb(250, 220, 247);
    margin: 10px;
    padding: 10px;
}


.align{
    text-align: center;
}
.develop-section{
    background-image: url(/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: left;
}
#develop-img{
    width: 40%;

}
#develop-img img{
    width: 70%;
    padding-left: 70px;
}
.develop-content{
    width: 60%;
    padding-right: 60px;
    padding-top: 40px;
    margin-right: 50px;
}

h2{
    font-size: 30px;
    font-weight: 700px;
    margin: 5px;
}
h3{
    font-size: 20px;
}
.global-section{
    background-image: url(/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30%;
    padding-left: 20px;
}
.global-img img{
    padding-left: 40px;
}
.testimonial{
    text-align: center;
    display: block;
}
.title{
    color: #141c3a;
    font-weight: 800;
    line-height: 1.125;
}
.subtitle{
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #141c3a;
}
.avtar{
    margin: 2.5rem auto 2rem;
    max-width: 96px;
    height: auto;
    border-radius: 100px;
}
.quote{
    font-size: 20px;
    font-weight: 300;
    max-width: 700px;
    margin: 0 auto 2.5rem;
}
.white{color: white;}
.salmon{color: salmon;}
footer{
    background-color: rgb(6, 1, 14);
}
h4{
    color: white;
}

footer h1{
    font-style: oblique;
    font-size: 45px;
}
.footer{
    padding: 20px 10px;
}