body{
    
    margin: 0 auto;
}
.flex{
    display: flex;
}
.focus{
    width: 50%;
    margin: 30px;
}
.focus img{
    width: 60%;
    margin-left: 50px;
}
.yellow{
    color: rgb(255, 166, 0);
}
.container{
    
    margin-left: 40px;
    margin-top: 40px;
}
.focus-font{
    font-size: 50px;
    border-left: 4px solid salmon;
    line-height: 30px;
    display: inline-block;
    
}
.button{
    background-color: rgb(235, 79, 62);
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 40px;
    color: aliceblue;
    
}
.focus p{
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 10px;
}
h4{
    margin-top: 40px;
}
h1{
    padding-left: 10px;
    font-size: 50px;
}
.my-mission{
    height: 300px;
    border-radius: 10px;
    width: 30%;

}
.my-mission img{
    width: 30%;
}
.mission{
    background-color: rgb(238, 241, 241);
    margin: 10px;
    padding: 20px;
}
.vission{
    background-color: rgb(247, 203, 210);
    margin: 10px;
    padding: 20px;
}
.goal{
    background-color: rgb(250, 220, 247);
    margin: 10px;
    padding: 20px;
}


.align{
    text-align: center;
}